

/* WELCOME */

.welcome {
    /* background-image: url("/background.jpeg"); It was moved to inline css. */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.welcome-media {
    margin-bottom: 70px;
    align-items: center !important;
}

.welcome-title {
    text-align: left;
    font-size: 8em;
    line-height: 1.2em;
    color: var(--grey);
    
    font-family: 'Bai Jamjuree', sans-serif;    
    font-family: 'Jura', sans-serif;
    font-family: 'Electrolize', sans-serif;
    font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Saira Semi Condensed', sans-serif;
     
    font-family: 'Luckiest Guy', sans-serif;
    font-family: 'Lilita One', sans-serif; 
    font-family: 'Audiowide', sans-serif;
    font-family: 'Matemasie', sans-serif; 
    font-family: 'Michroma', sans-serif;
    font-family: 'Unbounded', sans-serif;
    font-family: 'Jersey 10', sans-serif;
    
    font-family: 'Paytone One', sans-serif;
    font-family: 'Climate Crisis', sans-serif;
    color: var(--magenta);
    
    background: linear-gradient(to bottom, #000000, #485fc7);
    -webkit-background-clip: text;
    color: transparent;
    color: #292929;


   

}

.welcome-subtitle {
    font-size: 2em;
    letter-spacing: 0.3em;
    line-height: 2em;
    margin-top: 10px;
    /*font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Audiowide', sans-serif;
    font-family: 'Jura', sans-serif;
    
    font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-family: 'Michroma', sans-serif;
    font-family: 'Matemasie', sans-serif;
    font-family: 'Luckiest Guy', sans-serif;
    font-family: 'Electrolize', sans-serif;
     font-family: 'Bai Jamjuree', sans-serif;    
    font-family: 'Jura', sans-serif;
    font-family: 'Electrolize', sans-serif;
    font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Saira Semi Condensed', sans-serif;
     
    font-family: 'Luckiest Guy', sans-serif;
    font-family: 'Lilita One', sans-serif; 
    font-family: 'Audiowide', sans-serif;
    font-family: 'Matemasie', sans-serif; 
    font-family: 'Michroma', sans-serif;
    font-family: 'Unbounded', sans-serif;
    font-family: 'Paytone One', sans-serif;
    font-family: 'Climate Crisis', sans-serif;*/
    font-family: 'Jersey 10', sans-serif;
    
   
}

.navbar-end {
    display: flex;
    align-items:center;
}

.navbar-middle {
    width: 100%;
    display: flex;
    justify-content: left;
    position: relative;
    z-index: -9;
    vertical-align:middle;
}

.socials {
    max-width: 300px;
    text-align: center;
    display:inline-block;
}

.social {
    display:inline-block;
    padding:10px;
}

.work {
    display: grid;
    justify-items: center;
}

.work-width {
    width: var(--desktop-work-width);
}

.enter {
    display: grid;
    margin-top: 50px;
    justify-content: center;
}

.enter>.button {
    margin-bottom: 20px;
    height: 50px;
    width: 170px;
    opacity: 0.9 !important;
    font-size: 1.9em;
}

.enter>div.warn>span.warn {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
    color: rgba(214, 214, 214, 0.828);
    background-color: var(--main);
}

nav.navbar {
    justify-content: people-between;
    align-items: center;
    height: unset !important;
    margin-left: 2em;
    margin-right: 2em;
    padding: 30px;
    margin-top: 0.4em;
    background-color: #f5f3ff;
    /*background-image: url("https://freight.cargo.site/w/1000/q/75/i/f8b1edeb1fcdb53a0a8ecddc3670f4dedcb73aaae6eef82f40495a37bfc42e84/made_by_karan_facebook_messenger_ar_thumb.jpg");
background-position: center;*/

}

.navbar-burger {https://freight.cargo.site/w/1000/q/75/i/37ea47538bcbebc2ca3d7b7ad0df7ccc394c5f989a5e55115a0c205adb273d6b/made_by_karan_daisies_01.png
    height: 6rem;
}

.menu {
    max-width: 600px;
    margin-left:auto;
    font-family:"Barlow";
    letter-spacing: 0.13em;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Audiowide', sans-serif;
    font-family: 'Jura', sans-serif;
    font-family: 'Electrolize', sans-serif;
    /*font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-family: 'Michroma', sans-serif;
    font-family: 'Matemasie', sans-serif;
    font-family: 'Luckiest Guy', sans-serif;*/
    font-family: 'Climate Crisis', sans-serif;
   /*   border: 5px solid blue;
  border-radius: 50%; 
  background-color: transparent;*/
  margin: 30px;
  margin-top: 100px;
  transform: rotate(5deg);





  /*border: 5px solid transparent;
  border-image: linear-gradient(45deg, magenta, cyan, yellow) 1;
border-radius: 50%; Начальная форма круга */
}




a .menu {
    color:black !important;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

div.logo {
    height: 4em;
    margin-right:10px;
    padding-top: 10px;
}

img.logo {
    max-height: 50%
}

.welcome-end {
    width: 100%;
    padding: 20px;
    bottom: 0;
    text-align: center;
    font-size: smaller;
}
body {
    font-family: 'Chivo';

}

img {
    margin: auto;
    display: block;
}

a img {
    border: none;
}

.markdown p {
    margin-bottom: 20px;
}

/* 404 page */

.image-404 {
    box-shadow: 2px 2px 2px 2px var(--main);
}

.title-404 {
    font-size: 6em;
}

.subtitle-404 {
    font-size: 1.7em;
}

.header-404 {
    justify-content: center;
    display: grid;
}

.body-404 {
    margin-top: 20vh;
}

/* Portfolio list */

.slider {
    z-index: 99;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.9);
    padding-top: 1.5em;
}

.slide {
    justify-content: center;
    justify-items: center;
    box-sizing: border-box;
}

.noscroll {
    position: fixed;
    overflow: hidden;
}

.slides>.columns {
    width: 80%;
}

.navigate {
    position: fixed;
    bottom: 25px;
    right: 100px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    opacity: 30%;
}

.prev,
.next {
    cursor: pointer;
    color: var(--main-light);
    font-weight:lighter;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    margin-left: 50px;
    border-radius: 3px 0 0 3px;
}

.modal-close {
    max-height: 50px;
    max-width: 50px;
    right: 40px;
}

.modal-close::before,
.modal-close::after {
    background-color: var(--main-light);
}

.slide-imgs {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.fullheight {
    min-height: 100vh;
    width: 100%;
}

section .column img {
    cursor: pointer;
}

.section {
    padding: 1rem 0rem;
}

.alittle {
    max-width: 920px;
}

.slide img {
    margin-bottom: 3px;
    width: auto;
    max-height: 200vh;
    /*max-width: 190vh;*/
    /*max-width: 1000px;*/
    margin: auto;
}

.portfolio {
    margin: 10px;
    width: 100%;
}

.tags-list {
    width: 100%;
}

.slide-tags {
    padding-left: 3px;
    display: none;
}

.slide-tag {
    font-size: medium;
}

.grey {
    color: var(--grey);
}

.slide-info {
    margin-bottom: 30px;
    /*margin-left: 20px;*/
    font-size: medium;
    width: 800px;
}

.slide-meta {
    font-size: medium;
    width: 1000px;
}

.slide-meta-el {
    margin-top: 10px;
    text-align: center;
    height: 50px;
}

.slide-meta-title {
    text-align: center;
    height: 70px;
    font-size: xx-large;
    margin-bottom: 2em;
    letter-spacing: 0.1em;
    margin-left: 8px;
    font-family: 'Climate Crisis', sans-serif;
}

.text-center {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}
.center.slide-meta-title {
    justify-content: unset;
}

.exif {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: small;
    color: rgb(211, 211, 211);
}

.footer {
    background-color: var(--dark);
    color: var(--grey);
    font-weight: 600;
    text-align: center;
}

.source-love {
    color: var(--main-light);
}

#mobile {
    display: none;
}

.image-box {
    margin-top: 3px;
    overflow: hidden;
    border: 0px;
}

.image-box img {
    transition: all 0.3s;
    display: block;
    height: auto;
    transform: scale(1);
}

.image-box:hover img {
    transform: scale(1.03);
}

.slide-imgs .columns {
    margin: unset;
}

.slide-imgs .columns .column {
    padding: 0.10rem;
}
section.work .columns .column {
    padding: 0.1rem;
}

.slide-imgs .columns .column:not(:first-child) {
    margin-left: 5px;
}

.about-top: {
    margin-top: 300em;
}
/* Arrow */

.down-arrow {
    animation: jumpInfinite 3s infinite;
    position: fixed;
    top: calc(100vh - 100px);
    left: 60px;
}

.down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
    color: var(--grey);
}

.pixel-img {
    background: /images/eternity.png;
}
.hidden {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

@keyframes jumpInfinite {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 20px;
    }

    100% {
        margin-top: 0;
    }

}

@keyframes shapeChange {
  0% {
    border-radius: 0%;
    width: 100px;
    height: 100px;
  }
  25% {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  50% {
    border-radius: 0%;
    width: 150px;
    height: 100px;
  }
  75% {
    border-radius: 50% 0%;
    width: 120px;
    height: 120px;
  }
  100% {
    border-radius: 0%;
    width: 100px;
    height: 100px;
  }
}

.shape {
  width: 100px;
  height: 100px;
  background-color: #4CAF50;
  animation: shapeChange 8s infinite;
}
